body {
    background-color: #000000;
    text-align: center;
    font-family: veranda, sans-serif; 
}

h1 {
    font-color: #ffffff;
    font-size: 50px
}

a {
    font-color: aquamarine;
    font-size: 16px;
}