body {
    background-color: #000000;
    text-align: center;
    font-family: veranda, sans-serif; 
}

h1 {
    color: #ffffff;
    font-size: 50px
}

p a {
    color: aquamarine;
    font-size: 16px;
}