body {
    background-color: #000000;
    text-align: center;
    font-family: veranda, sans-serif; 
}

h1 {
    color: #ffffff;
    font-size: 50px
}

p a {
    color: aquamarine;
    font-size: 16px;
}

h2 {
    font-size: 42px;
    font-weight: 300;
    color: #ffffff;
}
p {
    font-size: 21px;
    color: gray;
}
alt {
    color: rgb(198, 223, 87);
    font-size: 12px;
}
footer {
    text-align: right;
    color: gray;
}